body
{
    background-color: #E0D9D3;
    font-family: 'Inter';
    color: #F81808;
}

*
{
    background-color: #E0D9D3;
    font-family: 'Inter', sans-serif;
    color: #F81808;
}

#titre
{
    margin-top: 66px;
    
    
}

#contenu
{
    margin-top: -150px;
    
}

.container {
    position: relative;
	width: 100%;
}

h1{
    text-align: center;
    font-size: 160px;
    position: relative;
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 160px;
line-height: 194px;
/* identical to box height */

letter-spacing: -0.095em;
margin-top: 40px;
}

h3{

height: 24px;
left: 62px;
top: 1138.5px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
letter-spacing: -0.055em;
text-transform: uppercase;

}
h4{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */

}
h5{
width: 283.08px;
height: 50px;
left: 1064.98px;
top: 1203.52px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 122.52%;
/* or 25px */

letter-spacing: -0.055em;
}
p{
    margin-top: 30px;

}
a{
    text-decoration: none;
    
}
.background-image{
    position: absolute;
    width: 1440px;
    height: 742px;
    left: 0px;
    top: 282px;
}

button{

box-sizing: border-box;

position: absolute;
width: 649.5px;
height: 87.38px;
left: 395.5px;

background: rgba(227, 227, 227, 0.2);
border: 1px solid #FFFFFF;
backdrop-filter: blur(15px);
/* Note: backdrop-filter has minimal browser support */

border-radius: 40px;

  bottom: 230px;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  padding: 12px 24px;

  font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;
text-align: center;
letter-spacing: -0.055em;
text-transform: uppercase;
color: #FFFFFF;
}

#Logo
{
    margin-top: 20px;
    height: 37px;
    width: 73px;
}


.top-left {
    position: absolute;
    width: 628.41px;
height: 178.74px;
left: 6px;
top: 34px;
    font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 36px;
letter-spacing: -0.025em;
text-transform: uppercase;
background-color: transparent;
  }

#TopNav
{
    height: 37px;
    margin-top: 30px;
   display: flex;
   flex-direction: row;
   gap: 103px;
   justify-content: center;
   font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
/* identical to box height */

text-align: center;
letter-spacing: -0.055em;
text-transform: lowercase;
}

#BottomNav
{
   display: flex;
   flex-direction: row;
   gap: 220px;
   justify-content: left;

}
#LogoFooter{
    width: auto;
    height: 0px;
    border-top: 2px solid #F81808;
    background:none;
    margin: 10px;
}


footer{
    padding: 25px;

}

